<div class="container-fluid">
    <div class="row">

        <div class="col-md-6 mx-auto ">
            <img src="../public/images/homepage-img.png" class="rounded mx-auto d-block">
        </div>

        <div class="col-md-6 mx-auto d-flex flex-column justify-content-center align-items-center">
            <h2 class=" text-center fw-light mt-4 fs-3">ABOUT US</h2>
            <p class="text-center fw-lighter">"Track your expenses effortlessly with our user-friendly Expense Tracker
                app.
                Easily log your expenditures by specifying the name, category, description,
                and amount for each transaction. Stay organized and in control of your
                finances with just a few taps!"</p>
            <p class="text-center">
                <a id="start-btn" class="btn btn-outline-success link-opacity-100" href="/login">Start Now</a>
            </p>
        </div>

    </div>
</div>

<script src="../public/js/homepage.js"></script>